<a href="/pages/about">About</a> | <a href="/pages/contact">Contact</a>
<h1>Welcome to the  Etsy Demo</h1>
<h2>Online marketplace for buying and selling handmade goods.</h2>
<p>Copyright &copy; 2015</p>
